<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <app-cabecera></app-cabecera>
    </header>
    <main>
            <div class="persona">
            <!--<img src="../../../assets/{{usuario.foto}}"/>-->
                <div class="like">
                    <p-button icon="pi pi-heart" [outlined]="true" />
                </div>
                <div class="nombre">
                    Prueba
                </div>
                <div class="dislike">
                    <p-button icon="pi pi-arrow-right" [outlined]="true" />
                </div>
            </div>
    </main>
</body>
</html>
