<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <app-cabecera></app-cabecera>
    </header>
    <main>
            <div class="persona">
            <img src="../../../assets/{{usuarioBuscado.foto}}"/>
                <div class="like">
                    <p-button tipo="Like" icon="pi pi-heart" (click)="like()" [outlined]="true" />
                </div>
                <div class="nombre">
                    {{usuarioBuscado.nombre}}
                </div>
                <div class="dislike">
                    <p-button tipo="Pasar" icon="pi pi-arrow-right" (click)="dislike()"[outlined]="true" />
                </div>
            </div>
    </main>
</body>
</html>
