<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    Products
                    <p-button icon="pi pi-refresh" />
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Genero</th>
                    <th>Politica</th>
                    <th>Arte</th>
                    <th>Deporte</th>
                    <th>Tipo de relacion</th>
                    <th>Niños</th>
                    <th>Interes</th>
                    <th>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <!--Poner la busqueda del usuario y preferencia-->
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">
                    In total there are {{products ? products.length : 0 }} products.
                </div>
            </ng-template>
        </p-table>
    </div>
</body>
</html>
