<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minder</title>
    
</head>
<body>
    <header>
        <h1>!BIENVENIDO A MINDER¡</h1>
        <img src="../assets/Minder_logo.png" width="15%"/>
        <div class="botones_header">
            <p-button type="button" styleClass="p-button-text" label="Iniciar sesion" [rounded]="true"></p-button>
            <p-button type="button" styleClass="p-button-text" label="Registrarse" [rounded]="true"/>
        </div>
    </header>
    <main>
        <h2>Unete y consigue una pareja, un amigo o un compeñero de cruzadas</h2>
        
    </main>
</body>
</html>
   