<p-toast></p-toast><!--Queda lo de los slider-->

<div class="card flex justify-content-center">
    @if (tipo==0) {
        <p-button [raised]="true" [outlined]="true" (click)="showDialog()" [raised]="true" label="Crear evento" icon="pi pi-pencil"></p-button>
    }
    <p-dialog header="Nuevo evento" [(visible)]="visible" [modal]="true" 
    [draggable]="false" (onHide)="cerrar()" [resizable]="false">
    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">
        
            <div class="flex flex-column">
                <label for="nombre">Nombre</label>
                <input pInputText id="nombre" aria-describedby="nombre-help" [(ngModel)]="eventos.nombre"/>
            </div>

            <div class="flex flex-column">
                <label for="fecha">Fecha del evento</label>
                <input pInputText id="fecha" placeholder="DD/MM/YYYY" aria-describedby="fecha" [(ngModel)]="eventos.fecha"/>
            </div>

            <div class="flex flex-column">
                <label for="descrip">descrip</label>
                <input pInputText id="descrip" aria-describedby="descrip-help" [(ngModel)]="eventos.descrip"/>
            </div>

            <!--Falta añadir el mapa-->

        </div>
        <div style="margin-top: 20px;" >
            <app-confirm tipo="Crear" icono="plus" mensaje="¿Deseas crear este evento?" color="success" (confirmacion)="crear($event)"></app-confirm>
        </div>
    </div>
    </p-dialog>
</div>
