<p-toast></p-toast><!--Queda lo de los slider-->

<div class="card flex justify-content-center">
    @if (tipo==0) {
        <p-button [raised]="true" [outlined]="true" (click)="showDialog()" [raised]="true" label="Registrar" icon="pi pi-pencil"></p-button>
    }
    <p-dialog header="Registrarse" [(visible)]="visible" [modal]="true" 
    [draggable]="false" (onHide)="cerrar()" [resizable]="false" [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"> 
    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4"> 
        
            <div class="flex flex-column">
                <label for="nombre">Nombre</label>
                <input pInputText id="nombre" aria-describedby="eventname-help1" [(ngModel)]="usuarios.nombre"/>
            </div>

            <div class="flex flex-column">
                <label for="correo">Correo</label>
                <input pInputText id="correo" aria-describedby="correo-help" [(ngModel)]="usuarios.correo"/>
            </div>

            <div class="flex flex-column">
                <label for="fecha">Fecha de Nacimiento</label>
                <p-calendar id="fecha" placeholder="MM/DD/YYYY" aria-describedby="eventname-help2"  [(ngModel)]="usuarios.fechaNacimiento" />
            </div>

            <div class="flex flex-column">
                <label for="contrasena">Contraseña</label>
                <input pInputText id="contrasena" aria-describedby="contrasena" [(ngModel)]="usuarios.contrasena"/>
            </div>

            <div class="flex flex-column">
                <label for="genero">Genero</label>
                <input pInputText id="genero" aria-describedby="genero" [(ngModel)]="usuarios.genero"/>
            </div>

            <div class="flex flex-column"><!--Esto hay que cambiarlo para que sea con un boton de subir fotos-->
                <label for="foto">Foto</label>
                <input pInputText id="foto" aria-describedby="foto" [(ngModel)]="usuarios.foto"/>
            </div>

            <div class="flex flex-column"><!--Cambiar estos 3-->
                <label for="foto">Tu interes en el arte:</label><br>
                <input id="arte" type="text" pInputText [(ngModel)]="numArte" class="w-full mb-3"/>
                <p-slider [(ngModel)]="numArte" class="w-full" />
            </div>

            <div class="flex flex-column">
                <label for="foto">Tu interes en el deporte:</label><br>
                <input id="deporte" type="text" pInputText [(ngModel)]="numDeporte" class="w-full mb-3"/>
                <p-slider [(ngModel)]="numDeporte" class="w-full" />
            </div>

            <div class="flex flex-column">
                <label for="foto">Tu interes en la politica:</label><br>
                <input id="politica" type="text" pInputText [(ngModel)]="numPolitico" class="w-full mb-3"/>
                <p-slider [(ngModel)]="numPolitico" class="w-full" />
            </div>

            <!--<div class="flex flex-column">
                <label for="foto">Referente a los niños...</label><br>
                <p-dropdown [options]="ninos" [(ngModel)]="ninoSeleccionado" optionLabel="name" placeholder="Selecciona un interes"/>
            </div>

            <div class="flex flex-column">
                <label for="foto">Referente al tipo de relacion...</label><br>
                <p-dropdown [options]="tipoRelacion" [(ngModel)]="tipoRelacionSeleccionado" optionLabel="name" placeholder="Selecciona un interes"/>
            </div>

            <div class="flex flex-column">
                <label for="foto">Referente a tus intereses...</label><br>
                <p-dropdown [options]="interes" [(ngModel)]="interesSeleccionado" optionLabel="name" placeholder="Selecciona un interes"/>
            </div>-->

        </div>
        <div style="margin-top: 20px;" >
            <app-confirm tipo="Crear" icono="plus" mensaje="¿Deseas crear este evento?" color="success" (confirmacion)="crear($event)"></app-confirm>
        </div>
    </div>
    </p-dialog>
</div>
