<div> <!--Esto van en headers-->
    <img src="../assets/Minder_logo.png" width="15%"/>
    <p-button type="button" styleClass="p-button-text" label="Amigos" [rounded]="true"/>
    <p-button type="button" styleClass="p-button-text" label="Eventos" [rounded]="true"/>
    <p-button type="button" styleClass="p-button-text" label="Inicio" [rounded]="true"/>
    @if (servicioAuth.getRoles()=="admin") { 
        <p-button type="button" styleClass="p-button-text" label="Usuarios" [rounded]="true"/>
    }
</div>
 