<p-toast></p-toast>
    
    <div class="card flex justify-content-center">
        @if(tipo==0){
    <p-button [raised]="true" [outlined]="true" (click)="showDialog()" [raised]="true" label="Apuntarse" icon="pi pi-pencil"></p-button>
        }
    <p-dialog header="Unirse a evento" [(visible)]="visible" [modal]="true" 
    [draggable]="false" (onHide)="cerrar()" [resizable]="false" [style]="{ width: '50rem' }" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <div class="card flex justify-content-center" class="custom-dialog">
        <div class="flex flex-row gap-4">

            <div class="flex flex-column">
                <label for="eventname1">Nombre</label><br>
                <input pInputText id="nombre" aria-describedby="eventname-help1" [(ngModel)]="eventos.nombre" readonly/>
            </div>

            <br>

            <div class="flex flex-column">
                <label for="eventname4">Descripción</label><br>
                <input pInputText id="descrip" aria-describedby="eventname-help4" [(ngModel)]="eventos.descrip" readonly/>
            </div>
            
            <br>

            <div class="map-container">
                <label for="eventname5">Lugar</label><br>
                <google-map [center]="{ lat: latitude, lng: longitude }" [zoom]="zoom" (mapClick)="onMapClick($event)">
                    <map-marker [position]="{ lat: latitude, lng: longitude }"></map-marker>
                </google-map>
            </div>

        </div>
        </div>

        <div style="margin-top: 20px;" >
            <app-confirm tipo="unirse" icono="plus" mensaje="¿Deseas unirse los cambios?" color="success" (confirmacion)="unirse($event)"></app-confirm>
        </div>
  </p-dialog>
</div>
