

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minder</title>
    
</head>
<body>
    <button routerLink="/evento">Evento</button>
    <button routerLink="/usuario">Usuario</button>
    <button routerLink="/eventoUsuario">Evento usuarios</button>
    <button routerLink="/inicio">Inicio</button>  
    <header>
        <h1>!BIENVENIDO A MINDER¡</h1>
        <img src="../assets/Minder_logo.png" width="15%"/>
        <div class="botones_header">
            <!--<app-login></app-login>-->
            <app-registro></app-registro>
        </div>
    </header>
    <main>
       
        <h2>ete y consigue una pareja, un amigo o un compeñero de cruzadas</h2>
        <img src="../assets/bodamedieval.jpg"/>
    </main>
</body>
</html>

<router-outlet></router-outlet>
   
